#!/usr/bin/zsh

update_path() {
	export PATH="$PATH:$1"
}

# Set manually

export DOTS="$HOME/.local/share/chezmoi"
export EDITOR=nvim
export VISUAL="$EDITOR"

# Dev Stuff
export ESLINT_USE_FLAT_CONFIG=true


# PATH
update_path "/usr/local/bin"
update_path "$HOME/.local/bin"
update_path "$DOTS/scripts"
update_path "$HOME/bin"
