#!/usr/bin/env bash

set -e

NO_FORMAT="\033[0m"
C_DODGERBLUE1="\033[38;5;33m"
echo -e "${C_DODGERBLUE1}Installing packages...${NO_FORMAT}"

{{- if eq .osid "darwin" }}
# macOS-specific code
{{- else if eq .osid "linux-debian" }}

# Debian-specific code

{{- else if eq .osid "linux-alpine" }}

  # ╭─────────────────────────────────────────────────────────╮
  # │                  Install PKG Packages                   │
  # ╰─────────────────────────────────────────────────────────╯


  sudo apk add {{ range .packages.pkg.packages }} {{ . | quote }} {{- end -}}

{{- else if eq .osid "linux-fedora" }}

  # ╭──────────────────────────────────────────────────────────╮
  # │                      Add COPR repos                      │
  # ╰──────────────────────────────────────────────────────────╯

  sudo dnf install -yq 'dnf-command(copr)'

  {{ range .packages.dnf.copr -}}
    sudo dnf copr enable -y {{ . | quote }} &> /dev/null
  {{ end -}}

  # ╭──────────────────────────────────────────────────────────╮
  # │                   Install DNF packages                   │
  # ╰──────────────────────────────────────────────────────────╯

  sudo dnf install -y {{ range .packages.dnf.packages }} {{ . | quote }} {{- end -}}

{{ end }}
